head,
main {
  font-family: "Neucha", serif;
}

.nav-item {
  margin-left: 6vw;
  font-size: larger;
}
.nav-link {
  color: #85c17e !important;
}
.nav-link:hover {
  color: #85c17e;
  text-decoration: underline;
}
.navbar-nav {
  gap: 20px;
  margin-right: 100vw;
}
.poslogo {
  position: relative;
  left: 32vw;
  top: 2vh;
  border-radius: 10%;
}
.taille {
  width: 20%;
}
.filtre {
  right: 15vw;
  bottom: 0vh;
}
.affiche {
  display: block;
}
.poscovoit {
  margin-top: 10vh;
  width: 35vw;

  margin-left: 40vw;
  background-color: #85c17e;
}
.pos2 {
  background-color: #85c17e;
}
.pseudo {
  font-size: 2rem;
}

.posportrait {
  position: relative;
  right: 2;
  top: 1vh;
}

hr {
  width: 10vw;
}
.htrajet {
  padding-left: 5vw;
}

.infocovoit {
  margin-left: 5vw;
  margin-top: 2vh;
}
.padinfo {
  margin-right: 2vw;
  padding-top: 3vh;
}

.posfiltre {
  position: absolute;
  top: 110vh;
  margin-left: 10vw;
}
.padding {
  padding: 2vh 0;
}

.widthinput {
  width: 8vw;
}
